* {
    margin: 0;
    padding: 0;
}

.home-page, .menu-page, .contact-page {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.site-info {
    background-color: #dcfce7;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 8%;
    padding: 10px;
}

.button-tab {
    width: 10%;
    height: 40%;
}

.restaurant-name {
    color: rgba(210, 141, 72, 0.802);
    margin-top: 30px;
    font-size: 60px;
    font-family: 'Economica';
    text-align: center;
}

.comments {
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Economica';
    text-align: center;
}

.hours {
    margin-top: 10%;
    text-align: center;
}

.hour-title {
    font-size: 20px;
}

.time {
    font-size: 16px;
}

.food-options {
    display: grid;
    padding: 10px;
    grid-template-columns: 50% 50%;
    height: 25%;
}

.food-image {
    width: 90%;
    height: 60%;
}

.description, .food-name, .price {
    font-family: "Economica"
}

.contact-info {
    margin-top: 20%;
   text-align: center;
}

.icon {
    width: 50%;
    height: 100%;
}
.picture {
    background-color: #86efac;;
    background-image: url("https://cdn.donmai.us/original/a1/ef/a1ef9232b5fb15b9a19049f596946003.jpg");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
}